<ion-view view-title="{{chat.name}}">
  <ion-content has-bouncing="true" class="has-header has-footer"
               delegate-handle="userMessageScroll">

    <ion-list>
      <ion-item ng-repeat="msg in messages | orderBy:'sentDate'" class="message-wrapper">
        <div ng-if="msg.sender !== currentUser.firstName">
        <div class="chat-bubble left">

          <div class="message">
            {{msg.message}}
            <div class="message-detail">
              <span class="bold">{{msg.sender}}</span>,<span am-time-ago="msg.sentDate"></span>
            </div>
          </div>
        </div>
      </div>
        <div ng-if="msg.sender === currentUser.firstName">
        <div class="chat-bubble right">

          <div class="message">
            {{msg.message}}
            <div class="message-detail">
              <span class="bold">{{msg.sender}}</span>,<span am-time-ago="msg.sentDate"></span>
            </div>
          </div>
        </div>
      </div>

      </ion-item>
    </ion-list>

  </ion-content>
  <form ng-submit="sendMessage()">
  <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>

    <label class="item item-input-wrapper">
      <input type="text" ng-model="newMsg.message" placeholder="Send a message..." maxlength="1500"/>
      </label>
      <div class="footer-btn-wrap">
        <button type="submit" class="button button-icon icon ion-android-send"
                ng-disabled="!newMsg.message || newMsg.message === ''">
        </button>
      </div>
  </ion-footer-bar>
  </form>
</ion-view>
