<ion-view view-title="Login">
  <ion-content>
    <form ng-submit="login()">
      <div class="list list-inset">
        <label class="item item-input item-select">
          <div class="input-label">Choose account:</div>
          <select ng-model="form.user" ng-options="user as user.firstName for user in users"></select>
        </label>
        <button type="submit" class="button button-block button-positive">
          Login <i class="icon ion-log-in"></i>
        </button>
      </div>
      <div class="text-center">
        <a href="/#/signup">Create Account</a>
      </div>
    </form>
  </ion-content>
</ion-view>
